#home {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
img.resize {
  max-width:50%;
  max-height:50%;
}
a:link {
color: white;
text-decoration: none;
font-size: 180%;
}
a:visited{
color: powderblue;
text-decoration: none;
}
a:hover {
color: yellow;
text-decoration: none;
}
h1{
  color: white;
}
@media (min-width: 450px) {
  body {
    background-image: url("photography/backgroundmobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
}
@media (min-width: 600px) {
  body {
    background-image: url("photography/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
}
